<!DOCTYPE html>
<head>
<link rel='stylesheet' href='stylesheets/pro1.css'>
</head>
<body>
                <div class="form">
                    <label>Name *</label>
                    <input type="text">
                    <label>Email Addres *</label>
                    <input type="text">
                    <label>Phone *</label>
                    <input type="text">
                    <label>Type *</label>
                    <selectl> 
                        <option>Employee</option>
                        <option>Professor</option>
                        <option>Student</option>
                    </select>
                    <label>Message *</label>
                    <textarea></textarea>
                    <input type="submit" value="Contact Me">
                
                </div>
           </body>
</html>
